:root {
    --primary-color: #1e201e;
    --text-color: #ff8225;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
}
span {
    color: #fcfaee;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding-right: 3rem;
}
ul > li > a {
    text-decoration: none;
    color: var(--text-color);
}
ul:hover {
    cursor: pointer;
}
.logo {
    display: flex;
    font-size: 1.5rem;
}
p {
    text-align: center;
}
h1 {
    padding-top: 5rem;
    text-align: center;
}
main {
    height: 33rem;
}
hr {
    border-color: #fcfaee;
}
footer {
    text-align: center;
}
.aboutPage,
.serviceId {
    display: grid;
    justify-content: center;
}
.aboutPage > div,
.serviceId > div {
    max-width: 800px;
}
.services {
    display: flex;
    justify-content: center;
}
.services > ul > li {
    list-style: none;
    padding: 2rem;
    margin: 3rem;
    border: 2px solid #fcfaee;
    border-radius: 10px;
    font-size: 1.5rem;
}
