:root {
    --primary-color: #2f3645;
    --text-color: #e6b9a6;
}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0px;
}
span {
    color: #fcfaee;
}

ul > li > a {
    text-decoration: none;
    color: var(--text-color);
}
ul:hover {
    cursor: pointer;
}

h1 {
    padding-top: 5rem;
}
main {
    height: 33rem;
}
hr {
    border-color: #fcfaee;
}

.aboutPage,
.serviceId {
    display: grid;
    justify-content: center;
}
.aboutPage > div,
.serviceId > div {
    max-width: 800px;
}
.services {
    display: flex;
    justify-content: center;
}
.services > ul > li {
    list-style: none;
    padding: 2rem;
    margin: 3rem;
    border: 2px solid #fcfaee;
    border-radius: 10px;
    font-size: 1.5rem;
}
